<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ partial "head.html" . }}
    {{ partial "favicon.html" . }}
</head>

<body>
    <div id="all">
        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-left">
                {{ partial "sidebar.html" . }}
                {{ block "main" . }}
                {{ end }}
            </div>
        </div>
    </div>
    {{ partial "scripts.html" . }}
    <script>

    </script>
</body>

</html>